.App {
  color: #454d4b;

  .header {
    position: fixed;
  }

  .main {
    background-color: #f6f6f6;
    display: flex;
    width: 100%;
    padding-top: 5rem;

    & > * {
      margin: 0.5rem;
      background-color: #fff;
    }

    .nav {
      width: 25%;
      height: 100vh;
    }

    .product {
      background-color: #f6f6f6;
      width: 50%;
      display: flex;
      flex-direction: column;

      & > * {
        background-color: #fff;
        margin: 0.5rem;
      }

      .ProductImage {
        height: 30%;
      }

      .ProductMainInfo {
        height: 15%;
      }

      .tabs {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
      }

      .TabContent {
        height: 40%;
      }
    }

    .user {
      background-color: #f6f6f6;
      width: 35%;

      & > * {
        background-color: #fff;
        margin: 1rem 0 0 0.5rem;
      }

      .UserInfo {
        height: 50%;
      }

      .Map {
        height: 50%;
      }
    }
  }
}
